/*!
* @author Okeke Paul Ugochukwu
* @company VASCON Solutions
* @company VAS-CONSULTING
* @company-email support@vas-consulting.com
* @email pugochukwu@vas-consulting.com
* @alt-email donpaul120@gmail.com
*/

html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ie-overlay{
    z-index: 9999999;
    background: rgba(74, 74, 74, 0.35);
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.7s width ease-in-out;
}

.ie-portal-design{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    display: inline-block;
    transition: 0.5s width ease-in-out;
    z-index: 99;
}

.ie-portal-design::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-slogan{
    font-size: 15px;
    font-weight: 400;
}

.ie-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    transition: 0.5s width ease-in-out;
    background:#ffffff;
}

.ie-footer::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-footer .ie-footer-item{
    display: inline-block;
    padding: 0 10px;
}


.ie-footer .ie-footer-item .ie-footer-item-name{
    /*font-weight: 600;*/
    color: #616161;
}

.ie-footer-right{
    float: right;
}

.ie-footer-right .ie-footer-item .ie-footer-item-name{
    color: #FF9100;
    font-size: 13px;
}

.ie-portal-design .ie-portal-actions{
    float: right;
    padding: 20px;
}


.display{
    display: block;
}

.noDisplay{
    display: none;
}

.ie-portal-design .ie-portal-actions button{
    background: none;
    border: none;
    outline: none;
    color: #C62828;
    font-weight: 700;
    margin-left: 8px;
}


.ie-major-content{
    color: #C62828;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 240px auto;
}

.ie-side-nav{
    height: 100%;
    width: 25%;
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
}

.ie-login-page{
    height: 100%;
}

.ie-reg-page{
    height: 100%;
}

.ie-reg-page::after{
    display: block;
    clear: both;
    content: ' ';
}
.ie-side-header{
    background: #C62828;
    padding: 10px 8px;
    color: #ffffff;
}
#ie-side-name{
    /*font-weight: 300;*/
    font-size: 17px;
}

.ie-side-header .ie-side-back-btn{
    transform: rotate(0.25turn);
    /*padding: 4px;*/
    cursor: pointer;
    margin-right: 8px;
    opacity: 1;
}

.ie-side-header .ie-side-back-btn:hover{
    opacity: 0.9;
}

.ie-side-content-title{
    text-align: center;
    padding: 30px;
    font-size: 40px;
    font-weight: 200;
    color: #757575;
}

.ie-side-content{
    padding: 30px;
    margin: 30px 0;
}

.ie-side-content form{

}
.ie-side-content form::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-side-content form input {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 35px;
    background: none !important;
    outline:none !important;
    width: 100%;
    transition: 0.5s border-bottom ease-in-out;
}

.ie-terms-section{
    margin-bottom: 30px;
}

#ie-terms{
    display: inline-block;
    width: 10%;
    height: 20px;
    margin: 0 !important;
}
.ie-terms-label{
    font-size: 12px;
    display: inline-block;
    vertical-align: super;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow:none;
}

.ie-side-content .ie-login-btn, .ie-reset-btn{
    /*float: right;*/
    background: none;
    font-weight: 600;
    color: #C62828;
    border: none;
    outline: none;
    font-size: 15px;
}

.ie-side-content .ie-login-btn:disabled{
    color: #BDBDBD;
}

.ie-side-content::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-side-content .ie-reset-btn{
    float: right;
    color: #E65100;
}

.ie-side-content .ie-login-btn img{
    margin-right: 10px;
}


.ie-side-content .ie-login-btn:hover:not([disabled="disabled"]){
   color: #F44336;
}

.ie-side-content form input:focus{
    border-bottom: 1px solid #FF9100;
}


.ie-lg-link-account{
    margin-top: 30px;
}


.ie-lg-link-account .ie-forgot-password{
    font-size: 12px;
    color: #FF9100;
}

.ie-forgot-password-layer{

}

.ie-help {
    position: absolute;
    bottom: 0;
    padding: 10px 25px;
    cursor: pointer;
    right: 0;
}

.ie-help::after{
    clear: both;
    content: ' ';
    display: block;
}

.ie-help-left{
    left: 0;
    float: left;
}

.ie-help-right{
    float: right;
}

.ie-help span{
    color: #FF9100;
    font-variant: small-caps;
}

.ie-login-help-content, .ie-reg-help-content{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: -40%;
    background: #F5F5F5;
    transition: 0.3s bottom ease-in-out;
    border-top: 1px solid #EEEEEE;
    overflow: auto;
    display: none;
}

.ie-help-header{
    padding: 10px;
    font-weight: 600;
    color: #616161;
}

.ie-help-header::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-help-header .ie-help-closer{
    float: right;
    cursor: pointer;
}

.ie-login-help-content-text, .ie-reg-help-content-text {
    padding: 5px 10px;
}

.ie-login-help-content-text ul, .ie-reg-help-content-text ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ie-login-help-content-text ul li, .ie-reg-help-content-text ul li{
    list-style-type: none;
    margin: 0;
    font-size: 13px;
    color: #757575;
    padding: 5px 0;
}

.ie-reg-opt-out{
    margin-top: 20px;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    color: #0091EA;
}

.ie-on-login{
    text-align: center;
}

.ie-side-content-error{
    padding: 10px 30px;
    color: #E65100;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.ie-side-content-info{
    padding: 10px 30px;
    color: #00E676;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
}

.ie-form-error{
    font-size: 12px;
    color: #D50000;
}

.ie-steps-count{
    /*float: right;*/
    padding: 10px;
    color: #546E7A;
    position: absolute;
    right: 0;
}


/**Account Details Settings**/
.ie-account-details{
    margin-bottom: 30px;
}

.ie-account-details .ie-account-full-name{
    font-size: 19px;
    color: #616161;
}

.ie-account-details .ie-account-email{
    font-size: 12px;
    color: #FF6D00;
}

.ie-hi{
    font-size: 25px;
    color: #616161;
}

.ie-reg-success{
    text-align: center;
    margin: 15% 0;
}

.ie-reg-success .ie-reg-success-message{
    font-size: 30px;
    color: #00C853;
    font-weight: 300;
    padding: 15px 0;
}


.ie-reg-success .ie-proceed-to-login button{
    outline: none;
    background: #212121;
    border: none;
    padding: 5px 9px;
    color: #FFF;
    font-weight: 600;
}






.ie-index-page{
    border-top: 3px solid #FF9100;
}

.ie-index-page .ie-company-logo{
    display:inline-block;
    padding: 15px 20px;
}


.ie-index-page .ie-company-logo .ie-app-name {
    display: inline-block;
    text-align: justify;
    vertical-align: bottom;
    font-weight: 600;
}

.ie-index-page .ie-company-logo a {
    display: block;
    text-align: justify;
    vertical-align: bottom;
}

.ie-contact-us{
    height:100%;
    text-align: center;
    padding: 0 80px;
    background: #F5F5F5;
}

.ie-contact-us-border{
    border-top: 1px solid #E0E0E0;
}

.ie-contact-middle{
    display: inline-block;
    width: 100%;
    margin:10px auto;
}

.ie-contact-middle .ie-contact-form{
    margin-top: 10px;
    display: inline-block;
}

.ie-contact-middle .ie-contact-form form{
    padding: 8px 0;
}

.ie-contact-middle .ie-contact-form form input{
    background: none;
    border: none;
    /*display: block;*/
    border-bottom: 1px solid #BDBDBD;
    outline: 0;
    font-size: 13px;
}

.ie-contact-middle .ie-contact-form form textarea{
    font-size: 13px;
    /*margin-bottom: 10px;*/
}

.ie-contact-middle .ie-contact-form .ie-contact-form-group{
    display: block;
    width: 70%;
}

.ie-contact-middle .ie-contact-form .ie-contact-form-group input{
    display: inline-block;
}

.ie-contact-middle .ie-contact-form .ie-contact-form-group::after{
    clear: both;
    display: block;
    content: ' ';
}


.ie-contact-middle .ie-contact-form form label{
    font-size: 12px;
    color: #FF6D00;
    font-variant: small-caps;
    float: right;
    margin-bottom: 10px;
}

.ie-contact-middle::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-contact-middle .ie-contact-form form::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-contact-middle .ie-contact-form::after
{
    clear: both;
    display: block;
    content: ' ';
}

.ie-contact-middle .ie-contact-form .ie-contact-form-header{
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    color:#D50000;
}

.ie-general-btn{
    font-weight: 600;
    color: #fff;
    font-size: 12.3px;
    padding: 8px;
    margin-top: -1px;
    border: none;
    transition: .5s background ease-in-out;
    outline: none;
    background: #D32F2F;
}

.ie-contact-middle .ie-contact-form .ie-contact-form-group button[type=reset]{
    background: #757575;
}

.ie-contact-middle .ie-contact-form .ie-contact-form-group button{
    text-align: left;
    float: left;
}

.ie-general-btn:hover{
    background: #B71C1C;
}

.ie-image-divider{
    background-size: cover;
    background: url("../../../public/assets/images/ie_bg_img.jpg") 50% 50%;/*50% 8%*/
    width: 100%;
    height: 50px;
}

.ie-contact-info{
    float: left !important;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(93, 93, 93, 0.35);
    /*width: 50%;*/
    text-align: left;
}

.ie-contact-info ul{
   list-style-type: none;
    padding: 0;
    margin: 15px 0;
}

.ie-contact-info ul li{
    margin-bottom: 20px;
}


.ie-contact-info ul li .ie-info-title{
    font-weight: 600;
    color: #FF6D00;
}

.ie-contact-info ul li .ie-info-content{
    font-size: 19px;
    font-weight: 300;
}

.ie-user-activated-message-cont{
    text-align: center;
    margin: 10% 10%;
}

.ie-user-activated-message{
    font-size: 25px;
    color: #00E676;
}

.ie-user-activate-message-thanks{
    font-size: 17px;
}

.on-user-activated-login{
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.ie-reset-password_form-cont{

}

.ie-user-reset-cont{
    width: 30%;
    margin: 8% 40%;
}

.ie-welcome-reset{
    font-size: 20px;
    color: #616161;
}

.ie-reset-user-name{
}

.ie-reset-password_form-cont input{
    margin: 15px 0;
    padding: 5px;
    font-size: 17px;
    display: block;
    width: 100%;
}

.ie-reset-title{
    font-size: 19px;
    color: #01579B;
    font-weight: 300;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 80px;
}
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(222, 222, 222, 0.51);
    -webkit-border-radius: 80px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(129, 129, 129, 0.56);
    -webkit-border-radius: 80px;
}
