/*!
* @author Okeke Paul Ugochukwu
* @company VASCON Solutions
* @company VAS-CONSULTING
* @company-email support@vas-consulting.com
* @email pugochukwu@vas-consulting.com
* @alt-email donpaul120@gmail.com
*/


html, body {
    padding: 0;
    margin:0;
    font-family: "Open Sans";
    height: 100%;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    padding: 0;
}

.main{
    height: 100%;
    width: 100%;
}

.ie-navigation-header{
    /*height: 70px;*/
    background: #ffffff;
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 2px rgba(60, 11, 11, 0.2);
    z-index: 99999999;
}
.ie-navigation-header::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-navigation-header .ie-company-logo{
    display: inline-block;
}

.ie-navigation-header .ie-company-logo .ie-app-name{
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
}


.ie-navigation-header .ie-company-logo .ie-app-name .ie-app-type{
    font-size: 12px;
    color: #D32F2F;
}

.ie-navigation-header .ie-company-logo img{
    padding: 10px 15px 10px 20px;
    display: inline-block;
}

.ie-navigation-header .ie-company-logo a{
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.nav-sub-item{
    cursor: default;
}

.ie-sub-nav-cont{
    position: absolute;
    top: -80px;
    right: 0;
    width: 15%;
    background: #FFF;
    /*padding: 10px;*/
    z-index: 999;
    /*border: 1px solid #E0E0E0;*/
    transition: top 0.4s ease-in;
    box-shadow: 0 1px 2px rgba(93, 93, 93, 0.35);
}

.ie-sub-nav-cont .ie-sub-nav{

}

.ie-sub-nav-cont .ie-sub-nav ul {
    list-style-type: none;
    margin :0;
}

.ie-sub-nav-cont .ie-sub-nav ul li{
    display: block;
    padding: 8px 12px;
    font-size: 15px;
    cursor: pointer;
    color: #424242;
    font-weight: 300;
}

.ie-sub-nav-cont .ie-sub-nav ul li:hover{
    background: #C62828;
    color: #fff;
}

/**Style for smaller Screens By Paul Okeke*/
@media screen and (min-width:300px)
{
    .ie-navigation-header nav{
        float: right;
        vertical-align: middle;
        padding: 25px 10px 25px 5px;
    }

    .ie-navigation-header nav ul li a{
        text-decoration: none;
        color: #FFAB00;
        font-size: 8px;
        font-weight: 500;
        padding: 3px;
    }

    .ie-navigation-header nav ul li{
        display: inline-block;
        padding: 3px;
        border-radius: 2px;
        margin-right: 2px;
        transition: 0.3s background ease-in-out;
    }
}

@media screen and (min-width:640px)
{
    .ie-navigation-header nav{
        float: right;
        vertical-align: middle;
        padding: 25px 10px 25px 5px;
    }

    .ie-navigation-header nav ul li a{
        text-decoration: none;
        color: #FFAB00;
        font-size: 11.54px;
        font-weight: 600;
        padding: 3px;
    }

    .ie-navigation-header nav ul li{
        display: inline-block;
        padding: 5px;
        border-radius: 2px;
        margin-right: 10px;
        transition: 0.3s background ease-in-out;
        /*background: #D50000;*/
        /*box-shadow: 0 1px 2px rgba(12, 12, 12, 0.47);*/
    }
}

@media screen and (min-width:1280px)
{
    .ie-navigation-header nav{
        float: right;
        vertical-align: middle;
        padding: 25px 0 25px 5px;
    }

    .ie-navigation-header nav ul li{
        display: inline-block;
        padding: 5px;
        border-radius: 2px;
        margin-right: 10px;
        transition: 0.3s background ease-in-out;
        /*background: #D50000;*/
        /*box-shadow: 0 1px 2px rgba(12, 12, 12, 0.47);*/
    }

    .ie-navigation-header nav ul li a{
        text-decoration: none;
        /*color: #FFAB00;*/
        font-size: 13px;
        font-weight: 600;
        padding: 5px;
    }
}

.ie-navigation-header nav::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-navigation-header nav ul{
    list-style-type: none;
}

.ie-navigation-header nav ul li:hover{
    background: #EEEEEE;
}

.ie-navigation-header nav ul li a{
    /*color: #FFAB00;*/
    color: #B71C1C;
}

.ie-navigation-header nav ul li a:active,a:visited{
    color: #FF6D00;
}

.ie-navigation-header nav ul li:hover > a{
    /*color: #FF6D00;*/
}

.ie-nav-active{
    background: #EEEEEE;
}

input[type=file]{
    display: none;
    visibility: hidden;
}

.ie-browse-btn{
    font-weight: 600;
    color: #fff;
    font-size: 12.3px;
    padding: 8px;
    margin-top: -1px;
    border: none;
    transition: .5s background ease-in-out;
    outline: none;
    background: #424242;
}

.ie-browse-btn:hover{
    background: #9E9E9E;
}

.ie-user-fn{
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    background: rgba(2,2,2,.4);
    top: 0;
    bottom: 0;
    text-align: center;
    padding:70px 50px;
}

.ie-user-fn-body{
    background: #fff;
    float: none !important;
    display: inline-block;
    padding-bottom: 10px;
}

.ie-user-fn-content{
    padding: 25px 12px;
}

.ie-user-fn-body .ie-user-fn-content form{
    /*float: left;*/
    width: 100%;
    text-align: left;
}

.ie-user-fn-content .ie-user-fn-image{
    /*float:right;*/
    position: absolute;
    right: 20px;
    top: 45px
}

.ie-user-fn-content .ie-user-fn-image img{
    border:1px solid #F5F5F5;
}

.ie-upload-note{
    text-align: left;
    display: inline-block;
    float: left;
    margin-top: 14px;
    color:#E53935;
}

#ie-fileup-name{
    padding: 4px;
    display: block;
}

.ie-save-upload{
    float: right;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background: none;
    color:#FF6D00;
}

.ie-save-upload:disabled{
    color: #c0c0c0 !important;
}



.ie-user-fn-content .ie-user-fn-image img{
    object-fit: cover;
    border-radius: 100%;
}

.ie-user-fn-content::after{
    clear:both;
    display: block;
    content: ' ';
}

/**Style for content... @paul Okeke*/
.ie-content-container{
    padding-top: 80px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ie-content-container .ie-scroll{
    -webkit-transition: transform 1.25s cubic-bezier(0.68, -0.55, 0.265, 1.30);
    transition:         transform 1.25s cubic-bezier(0.68, -0.55, 0.265, 1.30);
    position:absolute;
    width:100%;
    height:100%;
    /*top:0;*/
    left: 0;
}


.ie-content-container .ie-scroll .ie-page{
    display: inline-block;
    /*text-align: center;*/
    position: absolute;
    height: 100%;
    width: 100%;
    background: #F5F5F5;
}

@media screen and (min-width: 300px) and (max-width: 960px) {
    .ie-content-container .ie-scroll .ie-page{
        overflow: auto;
    }
}

.ie-content-container .ie-scroll #dashboard{
    left:0;
    /*background: blue;*/
}

.ie-content-container .ie-scroll #cases{
    left:1366px;
    /*background: red;*/
}

.ie-content-container .ie-scroll #faqs{
    left:2732px;
}

.ie-content-container .ie-scroll #profile{
    left:4098px;
}

.ie-input-error{
    font-size: 11px;
    color:red;
    padding-left: 5px;
}

/**page setup***/
.ie-page-content{
    padding: 20px 40px;
    position: relative;
    height: 100%;
    transition: 1s height ease-in-out;
}

.ie-page-content-sub{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
    /*box-shadow: 3px 0 8px rgba(63, 63, 63, 0.6);*/
    transition: top 900ms cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: top 900ms cubic-bezier(0.86, 0, 0.07, 1);
}

.ie-page-content .ie-page-upper{

}

.ie-page-content .ie-page-upper::after{
    clear: both;
    content: ' ';
    display: block;
}

.ie-page-content .ie-page-upper .ie-account-brief{
    display: inline-block;
}


.ie-page-content .ie-page-upper .ie-account-brief .ie-account-name{
    font-size: 30px;
    font-weight: 300;
    color: #B71C1C;
}

.ie-page-content .ie-page-upper .ie-account-brief .ie-account-no{
    /*color: #B71C1C;*/
}

.ie-page-content .ie-page-upper .ie-account-brief .ie-account-no::after{
    clear: both;
    content:  ' ';
    display: block;
}

.ie-page-content .ie-page-upper .ie-account-brief .ie-account-no span{
    font-weight: bold;
}

.ie-upper-right{
    float: right;
    display: inline-block;
}

.ie-upper-right::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-upper-right .ie-account-owner-profile{
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position:  50% 50%;
    /*border: 1px solid #F5F5F5;*/
    border-radius: 100%;
}

.ie-page-major{
    border-top: 1px solid #EEEEEE;
    margin-top: 15px;
}
.ie-page-major::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-page-major .ie-page-table-header{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-page-major .ie-page-table-header::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right{
    float: right;
}


.ie-page-major .ie-page-table-header .ie-page-table-header-right .ieEditProfile{
    background: #D32F2f !important;
    border: none;
    outline: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 12.3px;
    padding: 8px 8px;
    margin-top: -1px;
    transition: 0.5s background ease-in-out;
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right .ieSaveProfile{
    background: #00C853 !important;
    border: none;
    outline: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 12.3px;
    padding: 8px 8px;
    margin-top: -1px;
    transition: 0.5s background ease-in-out;
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right .ieSaveProfile:disabled{
    background: #BDBDBD !important;
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right button{
    background: #D32F2f;
    border: none;
    outline: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 12.3px;
    padding: 8px 8px;
    margin-top: -1px;
    transition: 0.5s background ease-in-out;
}
.ie-page-major .ie-page-table-header .ie-page-table-header-right button:hover:not([disabled="disabled"]){
    background: #B71C1C;
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right .ieEditProfile:hover{
    background: #B71C1C !important;
}

.ie-page-major .ie-page-table-header .ie-page-table-header-right .ieSaveProfile:hover:not([disabled="disabled"]){
    background: #2E7D32 !important;
}

.ie-profile-form-cont{
    /*text-align: center;*/
    margin: 10px auto;
}
.ie-page-major form{
    width: 100%;
}

.ie-page-major form::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-initialize-view{
    font-size: 30px;
    font-weight: lighter;
    color: #9E9E9E;
    margin: 200px auto;
    display: block;
    text-align: center;
    font-family: "Open Sans";
}
.ie-please-wait{
    font-size: 14px;
}


@media screen and (min-width:300px) and (max-width: 700px)
{
    .ie-page-major form .ie-account-portlet{
        display: block;
    }
}

@media screen and (max-width: 700px)
{
    .ie-page-major form .ie-account-portlet{
        display: inline-block;
    }
}


.ie-profile-form-cont .ie-account-portlet .ie-form-component{
    display: block;
    padding-bottom: 10px;
}
.ie-profile-form-cont .ie-account-portlet .ie-form-component::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-page-major form select{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
}

.ie-page-major form input, select{
    background: none;
    border: none;
    display: block;
    border-bottom: 1px solid #BDBDBD;
    outline:none;
    font-size: 13px;
}


.ie-profile-form-cont .ie-account-portlet .ie-form-component label{
    font-size: 12px;
    color: #FF6D00;
    font-variant: small-caps;
    float: right;
}

.ie-profile-form-cont .ie-account-portlet .ie-form-component label::after{
    clear: both;
}

/**Frequently Asked Question Design..@author Paul Okeke**/
.ie-faq-cont{
    /*text-align: center;*/
    margin: 10px auto;
    padding: 0;
    /*text-align: center;*/
}

.ie-faq-cont .ie-faq-child{
    display: inline-block;
    /*float: none;*/
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling{
    background: #fff;
    height: 100%;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 7px 5px;
}


.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-header{
    padding: 8px 10px;
    border-bottom: 1px solid #EEEEEE;
    font-weight: bold;
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content{
    padding: 8px 10px;
    overflow: auto;
    height: 370px;
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content ul{
    list-style-type: none;
    padding: 0;
}


.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content ul li{
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 1px solid #f5f5f5;
    color: #424242;
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content ul li ul{
    padding-left: 35px;
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content ul li ul li{
    margin: 0;
    font-weight: 400;
    padding-bottom: 10px;
    border: none;
}

.ie-faq-cont .ie-faq-child .ie-faq-child-sibling .ie-faq-child-sib-content ul li .ie-q-number{
    font-size: 15px;
    background: #BDBDBD;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 2px;
}



/**CASE***/
.ie-case-table{
    width: 100%;
    /*padding: 10px;*/
    margin-top: 10px;
    border-collapse: separate;
    box-shadow: 0 1px 2px rgba(30, 30, 30, 0.35);
}

.ie-case-table thead{
    background: #fff;
}

.ie-case-table thead tr{

}

.ie-case-table thead tr th{
    padding: 10px;
}

.ie-case-table tbody{

}

.ie-case-table tbody tr{

}

.ie-case-table tbody tr:nth-child(odd){
    /*background: #F5F5F5;*/
    background: #FAFAFA;
}

.ie-case-table tbody tr:nth-child(even){
    background: #FFFFFF;
}

.ie-case-table tbody tr:hover{
    background: #F5F5F5 !important;
}



.ie-case-table tbody tr td{
    padding: 10px;
    font-size: 12.54px;
}

.ie-case-table tbody tr td:nth-child(1){
    width: 10%;
}
.ie-case-table tbody tr td:nth-child(2){
    width: 30%;
}

.ie-case-table tbody tr td:nth-child(3){
    width: 15%;
}

.ie-case-table tbody tr td:nth-child(4){
    width: 15%;
}
.ie-case-table tbody tr td:nth-child(5){
    width: 10%;
}
.ie-case-table tbody tr td:nth-child(6){
    width: 10%;
}

.ie-case-table tbody tr td .ie-case-status{
    /*background: #00E676;*/
    /*font-size: ;*/
    padding: 4px 5px;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
}

.case-closed, .caseClosed{
    background: #D32F2F;
}

.case-open, .caseOpen{
    background: #00E676;
}

.case-pending, .casePending{
    background: #FFD600;
}

.case-new, .caseNew{
    background: #01579B;
}

.case-progress, .caseInProgress{
    background: #FF9100;
}

.ie-case-table tbody tr td .ie-case-no{
    color: #FF6D00;
}
/*.ie-case-table tbody tr td:nth-child(6){*/
    /*width: 10%;*/
/*}*/

.display{
    display: block;
}

.noDisplay{
    display: none;
}

#ie-case-create-modal{
    position: absolute;
    z-index: 9997777;
    width: 100%;
    background: rgba(2, 2, 2, 0.4);
    text-align: center;
}

.ie-case-form-box{
    background: #fff;
    float: none !important;
    display: inline-block;
    padding-bottom: 10px;
}
.ie-box-header {
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    text-align: left;
}

.ie-box-header::after{
    clear: both;
    display: block;
    content: ' ';
}
.ie-box-header .ie-box-header-right{
    float: right;
    margin-top: -10px;
}
.ie-box-header .ie-close-create-case{
    cursor: pointer;
    font-weight: 200;
    font-size: 16px;
}

.ie-create-case-input{
    margin-bottom: 15px;
    border-radius: 0;
    text-align: left;
}

.ie-create-case-input input{
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-size: 13px;
}

.ie-create-case-input select{
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-size: 13px;
}

.ie-create-case-input textarea{
    font-size: 13px;
}

.ie-create-case-input button{
    border-radius: 0 !important;
    background: #D32F2f;
    color: #FFFFFF;
    border: none;
    transition: 0.5s background ease-in-out;
    font-weight: 600;
}
.ie-create-case-input button:hover{
    background: #B71C1C;
}

.ie-create-case-input button:disabled{
    cursor: wait;
    background: #E0E0E0;
}

.ie-detailed-case-status{
    padding: 4px 8px;
    background: #00E676;
    /*font-variant: small-caps;*/
    color: #FFFFFF;
    float: right;
    margin-right: 4px;
    font-size: 11px;
}

.ie-sub-action{
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}
.ie-down-arrow{

}

.ie-refresh-icon img{
    height: 50px;
    width: 50px;
    opacity: 0.4;
}

.ie-down-arrow img{
    height:37.4px;
    width:37.4px;
    opacity: 0.4;
}

.ie-sub-action img:hover{
    color: #fff;
    opacity: 0.8;
}

.ie-case-detail-content{
    /*background: #fff;*/
    padding-left: 0;
}

@media screen and (min-width: 300px){
    .ie-case-notes-cont{
        float: none;
        width: 100%;
        /*margin-top: 20px;*/
    }
}

@media screen and (min-width: 640px){
    .ie-case-notes-cont{
        width: 100%;
        float: none;
        /*margin-top: 20px;*/
    }
}

@media screen and (min-width: 960px){
    .ie-case-notes-cont{
        width: 30% !important;
        float: right !important;
    }
}


.ie-loading-notes{
    float: right;
    margin-top: -10px;
}

/*.ie-case-notes-cont{*/
    /*float: right;*/
    /*width: 30%;*/
/*}*/

.ie-case-detailed-cont-bg{
    background: #fff;
    padding: 10px 10px;
}

.ie-case-detailed-subject{
    font-size: 25px;
    font-weight: 300;
}

.ie-case-sub-content{
    margin-top: 15px;
    max-height: 340px;
    overflow-y: auto;
}

.ie-case-note-content{
    max-height: 250px;
    overflow-y: hidden !important;
}

.ie-case-note-content:hover{
    overflow-y: auto !important;
}


.ie-case-sub-content .ie-case-detail-row{
    color: #616161;
}

.ie-case-sub-content .ie-case-detail-row div .ie-case-detailed-desc{
    font-size: 14px !important;
}

.ie-case-sub-content .ie-case-detail-row div{
    width: 95%;
    /*display: inline-block;*/
    font-size: 16px;
    padding: 10px 0;
}

.ie-case-sub-content .ie-case-detail-row div .ie-case-detail-type{
    font-weight: 600;
}

.ie-case-note-header{
    font-size: 16px;
    font-weight: 600;
}

.ie-case-note-header::after{
    display: block;
    content: ' ';
    clear: both;
}

.ie-add-notes-params{
    padding: 5px 0;
}

.ie-add-notes-params .ie-add-notes-action{
    /*border-top:1px solid #EEEEEE;*/
    margin-bottom: -9px;
    padding: 5px 0;
}

.ie-add-notes-params .ie-add-notes-action #ie-file-attach{
    display: none;
    visibility: hidden;
}

.ie-add-notes-params .ie-add-notes-action #ie-file-trigger{
    cursor: pointer;
}

.ie-file-name{
    color:#00C853;
    font-size: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.ie-add-notes-params .ie-add-notes-action::after{
    display: block;
    clear: both;
    content: ' ';
}

.ie-send-note-btn{
    background: #D32F2F;
    border: none;
    padding: 4px 7px;
    color: #fff;
    font-weight: 600;
    outline: none;
}


.ie-send-note-btn:hover{
    background: #B71C1C;
}

.ie-send-note-btn:disabled{
    background: #E0E0E0;
}

#ie-case-note-subject{
    /*width: 100%;*/
    font-size: 12px;
    margin-bottom: 2px;
}

#ie-case-note{
    font-size: 12px;
    /*width: 100%;*/
    /*max-width: 100%;*/
    max-height: 80px;
}

.ie-case-sub-content ul{

}

.ie-case-sub-content ul li{
    border-bottom: 1px solid #EEEEEE;
    padding: 6px 0;
}

.ie-case-sub-content ul li::after{
    clear: both;
    content: ' ';
    display: block;
}

.ie-case-sub-content ul li .ie-note-item-extras{
    float: right;
}

.ie-case-sub-content ul li .ie-note-item-extras .ie-note-by-who{
    font-size: 10px;
    color: #9E9E9E;
}


.ie-note-item-subject{
    color: #D32F2F;
    font-weight: 500;
    margin-bottom: 2px;
    font-size: 14px;
}

.ie-note-item-subject::after{
    clear: both;
    content: ' ';
    display: block;
}

.ie-note-item-subject .ie-attachment_cont{
    cursor: pointer;
}

.ie-attachment-menu{
    position: absolute;
    visibility: hidden;
    background: #fff;
    border-right: 1px solid #00B0FF;
    border-left: 1px solid #00B0FF;
    box-shadow: 0 2px 2px rgba(27, 27, 27, 0.4);
    padding: 5px 7px;
}

.ie-note-item-subject .ie-attachment_cont:hover > .ie-attachment-menu{
    visibility: visible;
    /*position:relative;*/
}

.ie-attachment-menu a{
    font-size: 11px;
    padding: 5px 2px;
}

.ie-note-item-note{
    margin-bottom: 2px;
    font-size: 13px;
}

.ie-dashboard-recent{
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    color: #424242;
    margin: 20% 0;
}

.ie-dashboard-row{
    margin: 10px auto;
    padding: 0;
}

@media screen and (min-width: 300px) {
    .ie-dashboard-row .ie-dashboard-child{
        display: block;
    }

    .ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling .ie-dashboard-child-sib-content{
        padding: 8px 10px;
        overflow: auto;
        /*height: 370px;*/
    }
}

@media screen and (min-width: 640px) {
    .ie-dashboard-row .ie-dashboard-child{
        display: block;
    }

    .ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling .ie-dashboard-child-sib-content{
        padding: 8px 10px;
        overflow: auto;
        height: 370px;
    }
}

@media screen and (min-width: 1280px) {
    .ie-dashboard-row .ie-dashboard-child{
        display: inline-block;
    }


    .ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling .ie-dashboard-child-sib-content{
        padding: 8px 10px;
        overflow: auto;
        height: 370px;
    }
}





.ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling{
    /*background: #ffffff;*/
    height: 100%;
    padding: 7px 5px;
}

.ie-dashboard-child-sib-header{
    font-weight: 600;
    padding-left: 10px;
    /*background: #fff;*/
}

.ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling .ie-dashboard-child-sib-content ul{
    list-style-type: none;
}


.ie-dashboard-row .ie-dashboard-child .ie-dashboard-child-sibling .ie-dashboard-child-sib-content ul li{
    border: 1px solid #FAFCFB;
    box-shadow: 0 1px 2px rgba(30, 30, 30, 0.35);
    background: #fff;
    margin-bottom: 10px;
    /*float: left;*/
    /*padding: 8px 8px 0 8px;*/
}

.ie-recent-header .ie-case-no{
    color: #bd3434;
    font-size: 16px;
}

.ie-recent-header .ie-case-subject{
    /*color: #bd3434;*/
    font-size: 15px;
}

.ie-recent-header{
    padding: 5px 5px;
}
.ie-recent-header::after{
    clear: both;
    display: block;
    content:  ' ';
}

.ie-recent-header .ie-status-color-code{
    width: 10%;
    height: 4px;
    float: right;
    content:  '.';
}

.ie-case-description{
    padding: 7px 5px;
}

.ie-case-status-cont{
    background: #EEEEEE;
    padding: 4px 5px;
}
.ie-case-status-cont::after{
    clear: both;
    content: ' ';
    display: block;
}

.ie-case-status-cont .ie-case-status{
    float: right;
    color: #BDBDBD;
    font-weight: 600;
}

.ie-dashboard-child-news-content ul{
    list-style-type: none;
}

.ie-dashboard-child-news-content ul li{
    list-style-type: none;
    margin: 10px 0;
    padding: 4px;
    border-top: 1px solid #F5F5F5;
}

.ie-news-item-header{
    clear: both;
    display: block;
    content: ' ';
}

.ie-news-item-header .ie-news-item-subject{
    display: inline-block;
    font-weight: 600;
    color:#D32F2F;
}

.ie-news-item-header .ie-news-item-date{
    float: right;
    display: inline-block;
    color:#BDBDBD;
}
.ie-dashboard-child-news-content{
    overflow: auto;
    height: 370px;
}

.ie-news-item-content{
    padding-top: 4px;
}
.ie-news-item-action::after{
    clear: both;
    display: block;
    content: ' ';
}

.ie-news-read-more{
    float:right;
    color: #FF6D00;
}



/**Error Panel Style**/
.ie-error-container{
    width: 100%;
    background: #212121;
    position: fixed;
    bottom: 0;
    padding: 4px 0;
    transition: bottom 2s ease-in-out;
    z-index:10;
}

.ie-error-container::after{
    display: block;
    clear: both;
    content: ' ';
}

.onError{
    bottom: 0;
}

.onErrorClear{
    bottom: -100%;
}

.ie-error-content{
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px 30px;
}

.ie-error-content span{
    padding-left: 10px;
}

.ie-error-resolution{
    font-size: 14px;
    color: #fff;
    float: right;
    font-variant: small-caps;
    padding: 5px 15px;
}


/**My Special Style for DataTables**/
/*All Datatable styles by Paul Okeke VASCON SOLUTIONS*/
.dataTables_filter{
    display: inline-block;
}

.dataTables_filter label input{
    outline: none;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    border-radius: 15px;
    height: 30px;
    padding:2px 8px;
}

.dataTables_wrapper {
    margin-top: -20px;
}

.dataTables_length{
    display: inline-block;
    padding-top: 3px;
    padding-right: 9px;
    padding-left: 9px;
    background: #FFFFFF;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid #E0E0E0;
    /*padding-right: 10px;*/
}


.dataTables_length label{
    display: inline-block;
    font-size: 13px;
}
.dataTables_length label select{
    display: inline-block;
}

.dataTables_paginate{
    float: right;
    display: block;
    padding: 10px;
    background: #FFFFFF;
    margin-top: 2px;
    /*width: 50%;*/
    box-shadow: 0 1px 2px rgba(30, 30, 30, 0.35);
}

.paginate_button{
    /*width: 90px;*/
    /*height: 70px;*/
    border-radius: 100%;
    background: #E0E0E0;
    padding: 5px 10px;
    color: #FFFFFF;
    margin: 3px;
    transition: 0.6s background ease-in-out;
}

.paginate_button.current{
    background: #00C853 !important;
}

.paginate_button.previous{
    padding: 5px !important;
    border-radius: 0 !important;
    background: #EEEEEE;
    color: #424242;
}

.paginate_button.next{
    padding: 5px !important;
    border-radius: 0 !important;
    background: #EEEEEE;
    color: #424242;
}

.dataTables_info{
    float:left;
    display: block;
    padding: 10px;
    background: #FFFFFF;
    margin-top: 2px;
    /*width: 50%;*/
    box-shadow: 0 1px 2px rgba(30, 30, 30, 0.35);
    color: #D32F2F;
}











/**For Task Manager**/
.vas-task-manager{
    display: inline-block;
    position: absolute;
    height: auto;
    bottom: 0;
    width: 14%;
    right: 1em;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0.2px 0 2px rgba(99, 93, 93, 0.41);
    transition: height 3s ease-in-out;
}

.vas-task-manager .vas-task-header{
    font-weight: 600;
    /*border-top: 2px solid #C62828;*/
    border-bottom: 1px solid #EEEEEE;
    color: #9E9E9E;
    padding: 3px 7px;
}

.vas-task-manager .vas-task-header .vas-task-count{
    float: right;
}

.vas-task-manager .vas-task-header::after{
    clear: both;
    display: block;
    content: ' ';
}

.vas-task-manager .vas-task-content{
    /*padding: 4px 7px;*/
    font-size: 12px;
}

.vas-task-manager .vas-task-content .vas-task-item{
    padding: 4px 7px;
    border-bottom: 1px solid #EEEEEE;
}

.vas-task-manager .vas-task-content .vas-task-item::after{
    clear: both;
    display: block;
    content: ' ';
}

.vas-task-manager .vas-task-content .vas-task-name{
    padding-right: 6px;
}

.vas-task-manager .vas-task-content .vas-task-p-img{
    float: right;
}




/*::-webkit-scrollbar {*/
    /*width: 6px;*/
    /*background-color: rgba(0,0,0,0);*/
    /*-webkit-border-radius: 80px;*/
/*}*/
/*::-webkit-scrollbar:hover {*/
    /*background-color: rgba(0, 0, 0, 0.09);*/
/*}*/

/*::-webkit-scrollbar-thumb:vertical {*/
    /*background: rgba(222, 222, 222, 0.51);*/
    /*-webkit-border-radius: 80px;*/
/*}*/
/*::-webkit-scrollbar-thumb:vertical:active {*/
    /*background: rgba(129, 129, 129, 0.56);*/
    /*-webkit-border-radius: 80px;*/
/*}*/