<section id="dashboard" ng-controller="DashboardController as dashCtrl" class="ie-page" style="left: 0;">
    <div class="ie-page-content">
        <div class="ie-page-upper">
            <div class="ie-account-brief">
                <div class="ie-account-name">{{dashCtrl.name}}</div>
                <div class="ie-account-no">Recent Complaints</div>
            </div>

            <div class="ie-upper-right">
                <div class="ie-upper-right">
                    <img src='{{dashCtrl.userImage}}' class="ie-account-owner-profile" style="object-fit:cover"/>
                </div>
            </div>
        </div>
        <div class="ie-page-major">
            <div class="ie-dashboard-row col-md-12">
                <div class="ie-dashboard-child col-md-6">
                    <div class="ie-dashboard-child-sibling">
                        <!--<div class="ie-dashboard-child-sib-header">Cases</div>-->
                        <div class="ie-dashboard-child-sib-content">
                            <div class="ie-dashboard-recent" ng-show="dashCtrl.onLoading">
                                Loading Recent Cases...
                            </div>
                            <div class="ie-dashboard-recent" ng-show="!dashCtrl.onLoading && dashCtrl.recentCases.length<1">
                                You currently have no complaints logged. :)
                            </div>
                            <ul>
                                <li ng-repeat="case in dashCtrl.recentCases | limitTo:3">
                                    <div class="ie-recent-header">
                                        <span class="ie-case-no">#{{case[0]}} </span>
                                        <span class="ie-case-subject">
                                            {{case[1]}}
                                        </span>
                                        <span class="ie-status-color-code"
                                              ng-class="{
                                              caseOpen : dashCtrl.caseColor(0, case[5]),
                                              casePending : dashCtrl.caseColor(1, case[5]),
                                              caseClosed : dashCtrl.caseColor(2, case[5]),
                                              caseInProgress : dashCtrl.caseColor(3, case[5])}">
                                        </span>
                                    </div>
                                    <div class="ie-case-description">
                                        {{case[6]}}
                                    </div>
                                    <div class="ie-case-status-cont">
                                        <span class="ie-case-status">{{case[5].toUpperCase()}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="ie-dashboard-child col-md-6">
                    <div class="ie-dashboard-child-sibling" style="background: #fff">
                        <div class="ie-dashboard-child-sib-header">News Feed</div>
                        <div class="ie-dashboard-child-news-content">
                            <ul>
                                <li>
                                    <div class="ie-news-item-header">
                                        <div class="ie-news-item-subject">
                                            IKEJA ELECTRIC DECRIES INCREASING CASES OF VANDALISM
                                        </div>
                                        <div class="ie-news-item-date">Oct 5th</div>
                                    </div>
                                    <div class="ie-news-item-content">
                                        The increasing case of cable theft and vandalism has continued to take its
                                        toll on the operations of the Ikeja Electricity Distribution Company  (IKEDC).
                                    </div>
                                    <div class="ie-news-item-action">
                                        <a class="ie-news-read-more" target="_blank"
                                           href="http://www.ikejaelectric.com/index.php/news-room">READ MORE</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="ie-news-item-header">
                                        <div class="ie-news-item-subject">
                                            IKEJA ELECTRIC CUSTOMER ENERGY CHARGES (N/KWH)
                                        </div>
                                        <div class="ie-news-item-date">Oct 7th</div>
                                    </div>
                                    <div class="ie-news-item-content">
                                        Subsequent to the publication of consultation paper on tariff review in August
                                        2015 on this website as well as consultation meetings held with the customer
                                        clusters on September 2nd and 3rd 2015 as directed by the Nigerian Electricity
                                        Regulatory Commission (NERC) and our proposed cost reflective tariff submitted
                                        to the commission for review.
                                    </div>
                                    <div class="ie-news-item-action">
                                        <a class="ie-news-read-more" target="_blank"
                                           href="http://www.ikejaelectric.com/index.php/news-room">READ MORE</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="ie-news-item-header">
                                        <div class="ie-news-item-subject">
                                            POWER CRISIS: IKEJA ELECTRIC APPEALS ON BEHALF OF CUSTOMERS
                                        </div>
                                        <div class="ie-news-item-date">Oct 4th</div>
                                    </div>
                                    <div class="ie-news-item-content">
                                        The management of Ikeja Electricity Distribution Plc (Ikeja Electric) wishes
                                        to apologize to its esteemed customers over the state of power supply
                                        in the last few weeks.....
                                    </div>
                                    <div class="ie-news-item-action">
                                        <a class="ie-news-read-more" target="_blank"
                                           href="http://www.ikejaelectric.com/index.php/news-room">READ MORE</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="ie-news-item-header">
                                        <div class="ie-news-item-subject">
                                            IKEJA UNVEILS SECURE, CONVENIENT ONLINE BILL PAYMENT PLATFORM
                                        </div>
                                        <div class="ie-news-item-date">Oct 7th</div>
                                    </div>
                                    <div class="ie-news-item-content">
                                        In keeping with its commitment to enhance service delivery within its network,
                                        the Ikeja Electricity Distribution Company (IKEDC) in partnership with the
                                        Nigeria Inter-Bank Settlement Systems Plc (NIBSS), has created an online
                                        platform to facilitate secure, convenient and more efficient payment
                                        options for.
                                    </div>
                                    <div class="ie-news-item-action">
                                        <a class="ie-news-read-more" target="_blank"
                                           href="http://www.ikejaelectric.com/index.php/news-room">
                                            READ MORE
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>